body{
	background-image: url(https://s-media-cache-ak0.pinimg.com/564x/11/2d/06/112d0660fb93a3ee47aa84029dd397e8.jpg);
	background-size: cover;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: middle;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: purple;
}
